name: Clean up old workflow runs

on:
  workflow_dispatch:
    inputs:
      days_old:
        description: 'Delete runs older than (days)'
        required: true
        default: '30'
      keep_minimum:
        description: 'Minimum runs to keep'
        required: true
        default: '5'

jobs:
  clean_runs:
    runs-on: ubuntu-latest
    steps:
    - name: Delete old workflow runs
      uses: MajorScruffy/delete-old-workflow-runs@v0.2.3
      with:
        repository: ${{ github.repository }}
        older-than-seconds: ${{ inputs.days_old }}
        keep-minimum: ${{ inputs.keep_minimum }}
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
